<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Colonia Z-65</title>
</head>
<body>
    <%- include("partials/cabeçalho.ejs") %>
    <br>
    <video id="background-video" autoplay loop muted poster="img/background.mp4">
      <source src="img/background.mp4" type="video/mp4">
    </video>
    <div class="titulo">
      
    </div>
    <section class="banner">
      <h1>DESCUBRA UM <span>NOVO MUNDO</span></h1>
    </section>
    <section class="flex">
        <div>
          <h3>Temos aqui alguma coisa</h3>
          <p>Onix Turbo 2015</p>
        </div>
        <div>
          <h3>Temos aqui alguma coisa</h3>
          <p>Gol 1.6 2015 2015</p>
        </div>
        <div>
          <h3>Temos aqui alguma coisa</h3>
          <p>Siena 1.4 2012</p>
        </div>
      <div>
        <h3>Temos aqui alguma coisa</h3>
        <p>Onix Turbo 2015</p>
      </div>
      <div>
        <h3>Temos aqui alguma coisa</h3>
        <p>Gol 1.6 2015</p>
      </div>
      <div>
        <h3>Temos aqui alguma coisa</h3>
        <p>Siena 1.4 2012</p>
      </div>
    </section>
</body>
</html>