<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="/css/index.css">

        <!-- Custom styles for this template -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <title>Colonia Z-65 | Eventos</title>
</head>
<body>
    <%- include("partials/cabeçalho.ejs") %>

     <!-- Tela Contato -->

     <%- include("partials/btn-contato.ejs") %>

    <br>
    
    <video id="background-video" autoplay loop muted poster="img/background.mp4">
      <source src="img/background.mp4" type="video/mp4">
      </video>
    <section class="flex">
        <div class="scale">
            <h3>Evento 1</h3>
            <p>dd/mm/aaaa</p>
        </div>
    </section>
    <section class="flex">
        <div class="scale">
            <h3>Evento 2</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
        <div class="scale">
            <h3>Evento 3</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
        <div class="scale">
            <h3>Evento 4</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
        <div class="scale">
            <h3>Evento 5</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
        <div class="scale">
            <h3>Evento 6</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
        <div class="scale">
            <h3>Evento 7</h3>
            <img src="img/Logo-Colonia (2).png" alt="logo">
            <p>dd/mm/aaaa</p>
        </div>
    </section>
    <!-- Cabeçalho -->
    
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>